<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>199963727378-9n6h121rodfrt6ani82kqk93qa672rn4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.199963727378-9n6h121rodfrt6ani82kqk93qa672rn4</string>
	<key>API_KEY</key>
	<string>AIzaSyCFLq72GcfLJ4bLlbYd9Saajqjp6rUZOOg</string>
	<key>GCM_SENDER_ID</key>
	<string>199963727378</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shopApplication</string>
	<key>PROJECT_ID</key>
	<string>shop-application-171d5</string>
	<key>STORAGE_BUCKET</key>
	<string>shop-application-171d5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:199963727378:ios:aed9c9180915c76a762acb</string>
</dict>
</plist>